*{
    font-family: sans-serif,'Times New Roman', Times, serif;
}
#map {
    height: 100vh;
    width: 100%;
  }

  #map-notification{
    display: none;
    text-align: center;
    font-weight: bold;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    border: 1px solid black;
  }

  #map-notification-button {
    background-color: white;
    border: 1px solid black;
    padding: 5px 20px 5px 15px;
    cursor: pointer;
  }

  #map-notification-button:hover{
    background-color: rgb(51, 50, 50);
    color:white;
    border: 1px solid white;
  }

  #map-title-text{
    text-align: center;
  }